<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.world_time">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>

<!--<application-->
<!--    android:label="receipt"-->
<!--    android:usesCleartextTraffic="true"-->
<!--    android:icon="@mipmap/ic_launcher">-->
<!--<uses-library-->
<!--    android:name="org.apache.http.legacy"-->
<!--    android:required="false" />-->
<!--</application>-->